<app-head></app-head>
<div *ngIf="currentGame; else endGame">
    <app-panel (finishGame)="finishGame($event)"></app-panel>
</div>
<ng-template #endGame>
    <div *ngIf="typeFinish === 'loser'; else victory" class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col">
                <h3 style="color: red">End of the game.<br>Unfortunately, you lose.</h3>
                <button class="btn btn-primary" (click)="resetGame()">Play again</button>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #victory>
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col">
                <h3 style="color: green">End of the game.<br>You win!!!</h3>
                <button class="btn btn-primary" (click)="resetGame()">Play again</button>
            </div>
        </div>
    </div>
</ng-template>